<h1>Welcome to Paintings</h1>

<table>
	<thead>
		<tr>
			<th>Painting</th>
			<th>Title</th>
			<th>Artist</th>
			<th>Style</th>
		</tr>
	</thead>
	<tbody>
		<% @paintings.each do |painting| %>
		<tr>
			<td> <%= image_tag painting.image %> </td>
			<td> <%= painting.title %> </td>
			<td> <%= link_to painting.artist.name, artist_paintings_path(painting.artist) %> </td>
			<td> <%= painting.style %> </td>
		</tr>
		<% end %>
	</tbody>
</table>